body{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}
#navbar a{
    padding: 40px;
    text-decoration: none;
    font-size: large;


}
#navbar{
    text-align: center;
     

}
#intro{
    border: 2px solid white;
    width: 500px;
    position: center;
    transform: translate(400px,0px);
    border-radius: 5px;
}